<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/alligator-21.06.tar.xz">alligator-21.06</a></td>
   <td align="right">170kB</td>
   <td><tt>d53f023310c719a03537cd144e0c8abfe7d7b8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/angelfish-21.06.tar.xz">angelfish-21.06</a></td>
   <td align="right">111kB</td>
   <td><tt>190218a24289b2252ed33ca27c82d786ed1903cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/calindori-21.06.tar.xz">calindori-21.06</a></td>
   <td align="right">204kB</td>
   <td><tt>407c2398afeb277c00e7192941f40c802e14d9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/kalk-21.06.tar.xz">kalk-21.06</a></td>
   <td align="right">66kB</td>
   <td><tt>a3257bfb747f45f24f731a25e7fabffd2b94f5db</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/kasts-21.06.tar.xz">kasts-21.06</a></td>
   <td align="right">340kB</td>
   <td><tt>85ff0db027159614a5f19e5ab5fa9bd768701fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/kclock-21.06.tar.xz">kclock-21.06</a></td>
   <td align="right">679kB</td>
   <td><tt>108bc37789e4f86375e77eb2417bd79a3606509f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/keysmith-21.06.tar.xz">keysmith-21.06</a></td>
   <td align="right">155kB</td>
   <td><tt>45a412976e0634d38732a446ec2f5a6cfda570a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/koko-21.06.tar.xz">koko-21.06</a></td>
   <td align="right">99kB</td>
   <td><tt>261caf6ed9be965ba8a9cceaca11246a7ba517bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/kongress-21.06.tar.xz">kongress-21.06</a></td>
   <td align="right">414kB</td>
   <td><tt>8c7ff6b0e322d552dce0b7f2d8bd7b475d1343b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/krecorder-21.06.tar.xz">krecorder-21.06</a></td>
   <td align="right">131kB</td>
   <td><tt>29c6d91d2a7c2e4f1cba2bd5f0adff668249302c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/ktrip-21.06.tar.xz">ktrip-21.06</a></td>
   <td align="right">200kB</td>
   <td><tt>bd94e86924a1fb0f94b832294aaeeab73f9bac05</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/kweather-21.06.tar.xz">kweather-21.06</a></td>
   <td align="right">963kB</td>
   <td><tt>22bcf7661e96a423fd788635694067cce0291a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/plasma-dialer-21.06.tar.xz">plasma-dialer-21.06</a></td>
   <td align="right">72kB</td>
   <td><tt>380d2f6dc16e32f8850e0b2a1558120a3eeae7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/plasma-phonebook-21.06.tar.xz">plasma-phonebook-21.06</a></td>
   <td align="right">197kB</td>
   <td><tt>47ee3278af9eee4f9a48e05dc1ac4ee8937c7ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/plasma-settings-21.06.tar.xz">plasma-settings-21.06</a></td>
   <td align="right">185kB</td>
   <td><tt>b7a17a31652fb847b5f0bf2a32612a8d596c3762</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/qmlkonsole-21.06.tar.xz">qmlkonsole-21.06</a></td>
   <td align="right">21kB</td>
   <td><tt>9ef8b78aca8e33c507b4df31dfaeec5b715bd5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/spacebar-21.06.tar.xz">spacebar-21.06</a></td>
   <td align="right">52kB</td>
   <td><tt>3e95e57a626fa23cd97033df98a1ca459bf95e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.06/tokodon-21.06.tar.xz">tokodon-21.06</a></td>
   <td align="right">46kB</td>
   <td><tt>b0229dd00d3e22a11e9a39a1a50df67f3e7efbb3</tt></td>
</tr>

</table>
