.swiper-container, .swiper-slide img, .screenshot img {
  height: 50vw;
  min-height: 300px;
  max-height: 500px
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.swiper-slide {
  flex-shrink: initial;
}
main {
  overflow-y: hidden
}
